* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    border-color: rgb(41, 41, 41);
}

.container {
    width: 450px;
    background: linear-gradient(130deg, rgb(43, 99, 218), rgb(22, 22, 220));
    color: white;
    padding: 20px;
    margin: 100px auto;
    border-radius: 10px;
}